{% extends 'base.html' %}

{% block content %}
  {% if validlink %}
    <h3>Password Reset</h3>
    <h5>Please Enter New Password</h5>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Change password</button>
    </form>
    <a href="{% url 'accounts:reset_password' %}">Forgot Password?</a>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}